:root {
    --fontColor: rgb(255, 255, 255);
    --fontFamily: Consolas;
    --headerColor: rgb(255, 0, 0);
    --backgroundColor: rgb(0, 0, 0);
    --borderColor: rgb(255, 255, 255);
    --formColor: rgb(255, 61, 61);
    --buttonColor: rgb(255, 0, 0);
    --successNotifyColor: rgb(168, 168, 168);
    --errorNotifyColor: rgb(185, 19, 10);
}



/* TO CUSTOMIZE TOASTR NOTIFICATIONS */

#toast-container>div.toast {
    opacity: 1;
}

.toast-success {
    background-color: var(--successNotifyColor);
}

.toast-error {
    background-color: var(--errorNotifyColor);

}


* {
    box-sizing: border-box;
    font-family: var(--fontFamily);
}

::-webkit-scrollbar {
    width: 0;
}


/* declaring hover classes */
.text-hover:hover {
    filter: brightness(0.9);
}

.button-hover:hover {
    filter: brightness(0.9);
}

/* body */
body {
    position: relative;
    position: fixed;
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor);
}

/* HEADER */
.header {
    width: 100vw;
    height: 10vh;
    border: 2px solid var(--borderColor);
    background-color: var(--headerColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header>div {
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    display: flex;

}

.heading-logo-container>div {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: var(--backgroundColor);
}

.heading-logo-container img {
    height: 40px;
}

.heading-logo-container>h1 {
    color: var(--fontColor);
    cursor: pointer;
    margin-left: 10px;

}

.navigation {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    color: var(--fontColor);
}

.navigation>p {
    margin-right: 20px;
}

/* MAIN CONTAINER */

.main-container {
    height: 85vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container>p {
    font-size: 20px;
    font-weight: 800;
    color: var(--fontColor);


}

/* SONGS UPLOAD FORM */

.upload-song-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 50vh;
    margin-top: 10px;

}

.upload-song-form>input {
    background-color: rgb(173, 173, 173);
    border-radius: 5px;
    width: 80%;
    border: 2px solid var(--borderColor);
    height: 7vh;
    margin-top: 10px;
}

#upload-song-btn {
    background-color: var(--buttonColor);
    color: var(--fontColor);
}

.file-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
    height: 10vh;
    margin-top: 5px;
}

.file-container>div {
    overflow: scroll;
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    color: var(--fontColor);
    background-color: rgb(173, 173, 173);
    padding: .5vh;
    display: inline-block;
    width: 75%;
    height: 9.5vh;
}

.file-container>label {
    width: 30%;
    margin-left: 5px;
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    background-color: var(--buttonColor);
    color: var(--fontColor);
    top: 0%;
    text-align: center;
    vertical-align: middle;
}


/* ASIDE SECTION */

.aside {
    position: absolute;
    top: 11vh;
    right: 1vw;
    width: 30%;
    height: 80vh;
}

/* SIGN IN FORM */

.login-form-container {
    overflow: hidden;
    transition: height 0.5s ease;
    position: absolute;
    width: 100%;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    height: 0vh;
}

.login-form-container form {
    margin-top: 10vh;
    background-color: var(--formColor);
    width: 100%;
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form-container label {
    margin-top: 10px;
}

.login-form-container input {
    background-color: rgb(173, 173, 173);
    width: 80%;
    height: 6vh;
    padding: 5px;
    border: 2px solid var(--borderColor);
    border-radius: 5px;
}

#submit-btn-login {
    color: var(--fontColor);
    margin-top: 5vh;
    background-color: var(--buttonColor);
}

.close-form {
    position: absolute;
    width: 80%;
    height: 5vh;
    border-radius: 5px;
    color: var(--fontColor);
    bottom: 10px;
    border: 2px solid var(--borderColor);
    background-color: rgb(170, 170, 170);
}

/* SIGN UP FORM */

.sign-up-container {
    overflow: hidden;
    transition: height 0.5s ease;
    position: absolute;
    width: 100%;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    height: 0;
}

.sign-up-container>form {
    border: solid 2px var(--borderColor);
    border-radius: 5px;
    background-color: var(--formColor);
    margin-top: 1vh;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sign-up-container label {
    margin-top: 10px;
}

.sign-up-container input {
    background-color: rgb(173, 173, 173);
    width: 80%;
    height: 6vh;
    padding: 5px;
    border: 2px solid var(--borderColor);
    border-radius: 5px;
}

#submit-btn-signup {
    color: var(--fontColor);
    margin-top: 5vh;
    background-color: var(--buttonColor);
}